<section class="container-fluid">
  <div class="row">
    <div id="pokemon-list" class="col-2">

    </div>

    <div id="active-pokemon" class="col-6 text-center">
      <!-- <div class="card">
        <h1>Seaking</h1>
        <hr />
        <img src="https://img.pokemondb.net/artwork/large/seaking.jpg" alt="">
      </div>
      <div class="card">
        <div class="col-12 d-flex justify-content-around">
          <div>Height: 4'03"</div>
          <div>Weight: 86lbs</div>
          <div>Type: Water</div>
        </div>
      </div> -->
    </div>








  </div>
</section>