<section class="container-fluid">
  <div class="row">
    <div id="pokemon-list" class="col-2">

    </div>

    <div id="active-pokemon" class="col-6 text-center">
      <!-- <div class="card">
        <h1>Seaking</h1>
        <hr />
        <img src="https://img.pokemondb.net/artwork/large/seaking.jpg" alt="">
      </div>
      <div class="card">
        <div class="col-12 d-flex justify-content-around">
          <div>Height: 4'03"</div>
          <div>Weight: 86lbs</div>
          <div>Type: Water</div>
        </div>
      </div> -->
    </div>

    <div class="col-3">
      <section class="text-center fw-bolder">
        <h3>PokeBall</h3>
        <hr />
      </section>
      <section id="pokeball">

      </section>
      <!-- <div class="row align-items-center border-bottom border-primary pb-1 mb-2 selectable">
        <div class="col-1">
          <input type="checkbox">
        </div>
        <div class="col">Pokemon Name</div>
    </div>
  </div>






  </div>
</section>